.myhome-edit {
  padding-top: 16px;

  &-header {
    @include flexbox(between);

    &.title {
      @include text-style(24);
      font-weight: 700;
    }
    &.link {
      @include text-style(14, $tertiary);
    }
  }

  &-item {
    @include text-style(14);
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;

    &.title {
      display: block;
      width: 100px;
    }

    &.title-require {
      @include text-style(13, $dark);
      display: block;
    }

    &.radio {
      @include flexbox(between);
      input {
        width: 32px;
      }
    }
  }

  .input {
    width: 100%;
    border: 1px solid $border;
    padding: 0 15px;
    border-radius: 4px;
    height: 40px;
  }

  button {
    margin-top: 16px;
    width: 324px;
  }

  @include responsive(T) {
    padding-top: 48px;
  }
}
