.sign {
  @include pos-center;
  height: 100%;

  &-header {
    @include text-style(18);
    text-align: center;
    margin-top: 64px;
    margin-bottom: 26px;
  }

  &-line-top {
    width: 280px;
    height: 1px;
    background-color: $tertiary;
    margin-bottom: 16px;
  }

  &-member-id,
  &-member-password,
  &-member-password-confirm,
  &-member-name {
    input {
      margin-left: 12px;
      height: 46px;
      margin-bottom: 8px;
      width: 256px;
      border: 1px solid $border;
      border-radius: 4px;
      padding: 10px;
    }

    ::placeholder {
      color: $tertiary;
      font-size: 14px;
    }
  }

  &-line-bottom {
    width: 280px;
    height: 1px;
    background-color: $tertiary;
    margin-bottom: 16px;
  }

  .btn-black {
    width: 256px;
    margin-left: 12px;
  }

  .errmsg {
    @include text-style(14, $red);
    margin-left: 20px;
    font-weight: 500;
    padding-bottom: 8px;
  }
}
